<section class="section">
  <div class="columns is-multiline">
    <% users.each do |user| %>
      <div class="column is-4 is-one-quarter">
        <%= render partial: 'components/card', locals: { user: user } %>
      </div>
    <% end %>
  </div>
</section>