<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img
            src="<%= album[:photos][0][:thumbnail_url] %>"
            alt="image"
          />
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= album[:title] %></p>
        <%= render partial: 'components/modal', locals: { album: album } %>
        <button class="js-modal-trigger" data-target="album-modal-<%= album[:id] %>">
          See
        </button>
      </div>
    </div>
  </div>
</div>