<nav class="navbar section" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to root_path do %>
        <figure class="image is-3by1">
          <%= image_tag 'logo-what-remains-of-me.svg' %>    
        </figure>
      <% end %>
    </div>
  </div>
</nav>